<connectionStrings>
<add name="EmpresaEntities" connectionString="metadata=res://*/entityEmpresa.csdl|res://*/entityEmpresa.ssdl|res://*/entityEmpresa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Empresa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>